html {
  background: url(../bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 4%; /* Отступ сверху */
  margin-bottom: 5%;
}
body {
    background: rgba(0,0,0,0);
}

.round_corners{
    border-radius: 5px;
}

.top_panel>li>a, .nav-tabs.nav-justified>li>a {
    background:rgba(20,37,7,0.64);
    border-bottom: 0;
    color: #ffffff;
    margin: 1%;
}

.top_panel, .nav-tabs.nav-justified {
    padding-left: 0;
    padding-right: 0;
}


#baseWindow{
    background: rgba(211, 93, 123, 0);
    height: 650px;
}

#carousel .carousel-inner{
    height: auto;
}

.brand_category_image{
    background: rgba(0,0,0,0);
    height: 160px;
    width: 160px;
    margin: 5%;
}

.brand_category_coll{
    padding-left: 0;
    padding-right: 0
;
}

#groups_prods_brands_central_panel{
    padding-left: 0;
    padding-right: 0;
    margin-top: 8px;
    background: rgba(20,37,7,0.64);
}


.navbar {
    min-height: 15px !important;
    background: rgba(0,0,0,0);
    border: 0;

}
#bottomText{
    text-align: right;
    margin: 0;
    color: #ffffff
}

#topText{
    /*background: rgba(92, 0, 6, 0.61);*/
    color: #E7E6DF;
    text-align: center;

}

.carousel.slide{
    padding: 10px;
}

#actionWindow{
    margin-top: 100px;
}

/*-------------------ONE PRODUCT PAGE------------------------------*/




/*------------------------CART--------------------------------------*/

/*http://fortawesome.github.io/Font-Awesome/*/

.empty_category{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace ;
    margin-top: 8px;
    background:rgba(0,0,0,0);
}

.empty_cart{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace ;
    margin-top: 8px;
    background:rgba(20,37,7,0.64);
}

#CartBadge {
    background-color: rgb(74, 74, 199);
    font-size: 12px;
}

#cartProdRow{
    margin: 5px;

}

#cartItems{
    padding: 0;
    color: #ffffff;
    background: rgba(67, 23, 14, 0.81);
    /*background: rgba(92, 0, 6, 0.61);*/
    margin: 0;
}


#cartItems .col-lg-2{
    padding: 0;
    text-align: center;
}

#cartProdRow .col-lg-4 {
    padding: 0;
    text-align: left;

}
#cartProdRow .col-lg-5 > a{
    padding: 0;
    text-align: left;
    color: #97e5f3;
}
#cartPrice{
    color: #549be1;
    text-align: right;
}
#cartPrice.col-lg-12 > p{
    font-size: 20px;
    color: #DBFF34;
    text-align: right;
}
#cartItemsList .list-group-item {
    background: rgba(0, 0, 0, 0);
    margin-bottom: 5px;
    padding: 2px;
}
#orderDetails{
    margin: 0;
    padding-left: 15px;
    padding-right: 0;
    /*background: rgba(92, 0, 6, 0.61);*/
    background: rgba(67, 23, 14, 0.81);
    text-align: right;
    padding-bottom: 10px;
}
#orderDetails > p {
    padding-top: 15px;
    color: #ffffff;
    font-family: sans-serif;
}

input#id_captcha_1.form-control{
    width: 40px;
    display: inline-block;
    padding: 2px;
    font-size: 20px;
    vertical-align: bottom;
}
#addOrder{
    display: inline-block;
}

.order{
    background: rgba(27, 36, 35, 0.58);
    color: #C9F2CA;
    text-align: center;
}

#priceForm {
    padding: 25px;
  }

#loginForm {
    padding: 25px;
  }



/*.thumbnail {*/
    /*height: 400px;*/

/*}*/

/*.thumbnail >h4 {*/
    /*padding-left: 4px;*/
    /*height: 38px;*/
/*}*/

/*.thumbnail .caption {*/
    /*height: 175px;*/
/*}*/
/*.thumbnail .caption > p {*/
    /*vertical-align: bottom;*/
/*}*/

/*-------------groups left panel ------------------------*/

#groups_left_panel a {
    background: rgba(20,37,7,0.64);
    color: #F2F2F2;
    text-align: left;
}

#groups_left_panel{
    padding-left: 0;
    padding-right: 0;
    border-bottom: 0;
}

/*-------------products page------------------------*/
.product_item_on_products_page {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    height: 190px;
}

.product_item_on_products_page .col-lg-4{
    padding: 0;
}

.product_item_on_products_page .item_header{
    color: white;
}

.product_item_on_products_page .item_text{
    color: white;
}

.product_image_on_products_page {
    background: rgba(0,0,0,0);
    width: 220px;
    margin: 5%;
}

.product_available{
    color: #95FF95
}

.product_available_for_order{
    color: blue;
}

.product_unavailable{
    color: black;
}

span.product_price{
    color: #6bbbe1;
    font-size: 18px;
    text-align: right;
}