html {
  background: url(../bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 4%; /* Отступ сверху */
  margin-bottom: 5%;
}
body {
    background: rgba(0,0,0,0);
}


.nav-tabs.nav-justified>li>a,
.nav-tabs.nav-stacked>li>a {
    /*background: rgba(92, 0, 6, 0.61);*/
    background: rgba(67, 23, 14, 0.81);
    color: #ffffff;
    margin: 3%;
}


#baseWindow{
    background: rgba(211, 93, 123, 0);
    height: 650px;
}

#carousel .carousel-inner{
    height: auto;
}

#thumbnail > img{
    background: rgba(0,0,0,0);
    height: 160px;
    width: 160px;
    margin: 5%;
    border-radius: 5px;

}

#thumbnailCol{
    padding-left: 0;
    padding-right: 0
;
}

#groupPanel{
    padding-left: 0;
    padding-right: 0
}

#prodPanel{
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid;
}

.navbar {
    min-height: 15px !important;
    background: rgba(0,0,0,0);
    border: 0;

}
#bottomText{
    text-align: right;
    margin: 0;
    color: #ffffff
}

#topText{
    /*background: rgba(92, 0, 6, 0.61);*/
    background: rgba(67, 23, 14, 0.81);
    color: #E7E6DF;
    text-align: center;

}

.carousel.slide{
    padding: 10px;
}

#actionWindow{
    margin-top: 100px;
}

#productsListItem{
    padding: 5px;
    background: rgba(67, 23, 14, 0.81);
    color: #C1CAC5;

}
#productsListItem .col-lg-8 > h4{
       color: rgb(231, 182, 122);
}

.col-lg-4 > img{
    border-radius: 5px;
}
/*#productsListImg.img{*/
    /*width: 216px;*/
    /*height: 162px;*/
    /*border-radius: 5px;*/

/*}*/

.caption > h3{
    margin-top: 0;
}
.caption > p{
    margin-bottom: 0;
}
.caption > p.price{
    color: #6bbbe1;
    font-size: 18px;
    text-align: right;
}

#oneProdPanel > p{
    color: #ffffff ;
}
#oneProdPanel{
    margin: 0 ;
    text-align: center;
    color: #C1CAC5;
    font-size: 14px;
    background: rgba(67, 23, 14, 0.81);
    /*background: rgba(92, 0, 6, 0.61);*/
    padding: 0;
    border-radius: 5px;
}
#oneProdPanel.col-lg-8{
    margin: 0;
    padding: 0;
}

#oneProdPanel > div.col-lg-8 > img{
    margin: 5px;
    border-radius: 5px;
}

#oneProdPanel > div.col-lg-8 > p {
    text-align: right;
    margin-right: 40px;
    color: #6bbbe1;
    font-size: 20px;
}

#oneProdPanel > div.col-lg-4 > p {
    text-align: left;
}

#oneProdPanel > div.col-lg-4 > h3 {
    text-align: center;
    color: #FF7D7D;
}

#oneProdPanel > div.col-lg-4{
    padding: 0;
    margin: 0;
}

/* Корзина*/

/*http://fortawesome.github.io/Font-Awesome/*/

#emptyCart .well{
    text-align: center;
    /*background: rgba(92, 0, 6, 0.61);*/
    background: rgba(67, 23, 14, 0.81);
    color: #ffffff;
    font-size: 16px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace ;
}

#CartBadge {
    border-radius: 7px;
    background-color: rgb(74, 74, 199);
    font-size: 12px;
}

#cartProdRow{
    margin: 5px;

}

#cartItems{
    padding: 0;
    color: #ffffff;
    background: rgba(67, 23, 14, 0.81);
    /*background: rgba(92, 0, 6, 0.61);*/
    margin: 0;
    border-radius: 5px;

}

#cartItems .col-lg-4 > img{
    border-radius: 5px;
}

#cartItems .col-lg-2{
    padding: 0;
    text-align: center;
}

#cartProdRow .col-lg-4 {
    padding: 0;
    text-align: left;

}
#cartProdRow .col-lg-5 > a{
    padding: 0;
    text-align: left;
    color: #97e5f3;
}
#cartPrice{
    color: #549be1;
    text-align: right;
}
#cartPrice.col-lg-12 > p{
    font-size: 20px;
    color: #DBFF34;
    text-align: right;
}
#cartItemsList .list-group-item {
    background: rgba(0, 0, 0, 0);
    margin-bottom: 5px;
    padding: 2px;
}
#orderDetails{
    margin: 0;
    padding-left: 15px;
    padding-right: 0;
    /*background: rgba(92, 0, 6, 0.61);*/
    background: rgba(67, 23, 14, 0.81);
    border-radius: 5px;
    text-align: right;
    padding-bottom: 10px;
}
#orderDetails > p {
    padding-top: 15px;
    color: #ffffff;
    font-family: sans-serif;
}
.captcha{
    border-radius: 5px;
}
input#id_captcha_1.form-control{
    width: 40px;
    display: inline-block;
    padding: 2px;
    font-size: 20px;
    vertical-align: bottom;
}
#addOrder{
    display: inline-block;
}

.order{
    background: rgba(27, 36, 35, 0.58);
    color: #C9F2CA;
    text-align: center;
}

#priceForm {
    padding: 25px;
  }

#loginForm {
    padding: 25px;
  }

#sideMenu.nav a {
    /*background: rgba(92, 0, 6, 0.61);*/
    background: rgba(67, 23, 14, 0.81);
    color: #F2F2F2;
    text-align: left;
}

.thumbnail {
    height: 400px;

}

.thumbnail >h4 {
    padding-left: 4px;
    height: 38px;
}

.thumbnail .caption {
    height: 175px;

}
.thumbnail .caption > p {
    vertical-align: bottom;
}

