{% extends 'page_with_left_panel.html' %}
{% load staticfiles %}

{% block brands %}
        {% for brand in brands %}
            <div class="col-lg-3 brand_category_coll">
                <a href="{% url 'brand_filter' brand.id %}">
                    <img class="round_corners brand_category_image" src="{{ brand.manufacturerlogo.image.url }}" alt="{{ brand.manufacturer_title }}"
                         data-toggle="tooltip" data-placement="top" title="{{ brand.manufacturer_title }}">
                </a>
            </div>
        {% endfor %}
{% endblock %}