{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}


{% block brands %}
        <div class="col-lg-3" id="groupPanel">
            <ul class="nav nav-pills nav-stacked" id="sideMenu">
                {% recursetree nodes %}
                    <li>
                        <a href="{% url 'category_filter' node.id %}">{{ node.title }}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    <li>
                                        {{ children }}
                                    </li>
                                </ul>
                            {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
        <div class="col-lg-9" id="prodPanel">
            {% for brand in brands %}
                <div class="col-lg-3" id="thumbnailCol">
                    <a href="{% url 'brand_filter' brand.id %}" id="thumbnail">
                        <img src="{{ brand.manufacturerlogo.image.url }}" alt="{{ brand.manufacturer_title }}" data-toggle="tooltip" data-placement="top" title="{{ brand.manufacturer_title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock %}