{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}

{#TODO - придумать какую нибудь вменяемую систему навигации по категориям, товарам, брендам #}
{#TODO - придумать фильтр по категориям товарам брендам #}
{#TODO - все на AJAX#}

{% block categories %}
        <div class="col-lg-3" id="groupPanel">
            <ul class="nav nav-pills nav-stacked" id="sideMenu">
                {% recursetree nodes %}
                    <li>
                        <a href="{% url 'category_filter' node.id %}">{{ node.title }}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    <li>
                                        {{ children }}
                                    </li>
                                </ul>
                            {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
        <div class="col-lg-9" id="prodPanel">
            {% for category in categories %}
                <div class="col-lg-3" id="thumbnailCol">
                    <a href="{% url 'category_filter' category.id %}" id="thumbnail">
                        <img src="{{ category.pic }}" alt="{{ category.title }}" data-toggle="tooltip" data-placement="top" title="{{ category.title }}">
                    </a>
                </div>

            {% endfor %}
        </div>


    
{% endblock %}