{% extends 'page_with_left_panel.html' %}
{% load staticfiles %}

{% block categories %}
        {% for category in categories %}
            <div class="col-lg-3 brand_category_coll">
                <a href="{% url 'category_filter' category.id %}">
                    <img class="round_corners brand_category_image" src="{{ category.categoryimage.image.url }}" alt="{{ category.category_title }}"
                         data-toggle="tooltip" data-placement="top" title="{{ category.category_title }}"/>
                </a>
            </div>
        {% endfor %}
{% endblock %}