{% extends 'page_with_left_panel.html' %}
{% load staticfiles %}

{% block product %}
        <div class="col-lg-8">
            <img class="round_corners product_image_on_product_page" src="{{ product.get_original }}" alt="{{ product.productTitle }}">
            <p class="price">
                Цена: {{ product.productCurrentPrice }} грн
                <a href="{% url 'add_main' product.id %}" class="btn btn-success" role="button">Купить</a>
            </p>
        </div>
        <div class="col-lg-4">
            <h3>{{ product.productTitle }}</h3>
            <p>{{ product.productText|safe }}</p>
        </div>
{% endblock %}