{% extends 'page_with_left_panel.html' %}
{% load staticfiles %}

{% block products %}
        {% if not products%}
            <div class="col-lg-12">
                <div class="well main_background_color empty_category">В этой категории пока ничего нет, посмотрите другие наши товары!</div>
            </div>
        {% else %}
              {% for prod in products %}
                <div class="col-lg-12 product_item_on_products_page">
                    <div class="col-lg-4">
                        {% for image in prod.images.all %}
                        <img class="round_corners product_image_on_products_page" src="{{ image.image.url }}">
                        {% endfor %}
                    </div>
                    <div class="col-lg-8">
                        <h4 class="item_header">{{ prod.product_title|truncatechars:37 }} {% if prod.product_size%}(размер: {{ prod.product_size }}){% endif %}</h4>
                        <div class="caption item_text">
                        {{ prod.product_text|truncatechars:230|safe }}
                        <p class="price">
                            {% if prod.product_present %}
                                <span class="product_available"> В наличии, </span><span class="product_price">цена: {{ prod.product_current_price }} грн </span><a href="{% url 'product' prod.id %}" class="btn btn-primary" role="button">Подробнее</a> <a href="{% url 'add_main' prod.id %}" class="btn btn-success" role="button">Купить</a></p>
                            {% elif prod.product_available_for_order %}
                                <span class="product_available_for_order"> Под заказ,  </span><span class="product_price"> цена:{{ prod.product_current_price }} грн </span><a href="{% url 'product' prod.id %}" class="btn btn-primary" role="button">Подробнее</a> <a href="{% url 'add_main' prod.id %}" class="btn btn-success" role="button">Купить</a></p>
                            {% else %}
                                <span class="product_unavailable"> Недоступно </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
              {% endfor %}
        {% endif %}
{% endblock %}