{% extends 'base.html' %}
{% load staticfiles %}
{#{% load bootstrap3 %}#}
{% load mptt_tags %}

{% block products %}
        <div class="col-lg-3" id="groupPanel">
            <ul class="nav nav-pills nav-stacked" id="sideMenu">
                {% recursetree nodes %}
                    <li>
                        <a href="{% url 'category_filter' node.id %}">{{ node.title }}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    <li>
                                        {{ children }}
                                    </li>
                                </ul>
                            {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
        {% if not products%}
            <div class="col-lg-9" id="emptyCart">
                <div class="well">В этой категории пока ничего нет, посмотрите другие наши товары!</div>
            </div>
        {% else %}
            <div class="col-lg-9" id="prodPanel">
              {% for prod in products %}
                <div class="col-lg-4" id="productsListCol">
                    <div class="thumbnail product">
                        <img src="{{ prod.get_medium }}" alt="{{ prod.productTitle }}">
                        <h4>{{ prod.productTitle|truncatechars:40 }}</h4>
                        <div class="caption">
                        <p>{{ prod.productText|truncatechars:100 }}</p>
                        <p class="price">Цена: {{ prod.productCurrentPrice }} грн </p>
                        <p><a href="{% url 'product' prod.id %}" class="btn btn-primary" role="button">Подробнее</a> <a href="{% url 'add_main' prod.id %}" class="btn btn-success" role="button">Купить</a></p>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        {% endif %}



{% endblock %}