{% extends 'base.html' %}
{% load staticfiles %}
{#{% load bootstrap3 %}#}

{% block store %}
  <div class="col-lg-3" id="groupPanel">
            <ul class="nav nav-tabs nav-stacked">
               {% for category in categories %}
                    <li><a href="#">{{ category.title}}</a></li>
               {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9" id="prodPanel">
            {% for category in categories %}
                <div class="col-lg-3" id="thumbnailCol">
                    <a href="#" id="thumbnail">
                        <img src="{{ SITE_ADDR }}/{{ category.image }}" alt="{{ category.title }}">
                    </a>
                </div>

            {% endfor %}
        </div>


    
{% endblock %}