{% extends 'base.html' %}
{% load staticfiles %}
{#{% load bootstrap3 %}#}

{% block store %}
  <div class="col-lg-3" id="groupPanel">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="#">Люстры</a></li>
                <li><a href="#">Светильникик</a></li>
                <li><a href="#">Лампочки</a></li>
                <li><a href="#">Фены</a></li>
                <li><a href="#">Электро-чайники</a></li>
                <li><a href="#">Электровибраторы</a></li>
                <li><a href="#">Электрошокеры</a></li>
                <li><a href="#">Постельное белье</a></li>
                <li><a href="#">Кухонные пренадлежности</a></li>
                <li><a href="#">Полотенца</a></li>


            </ul>
        </div>
        <div class="col-lg-9" id="prodPanel">

                <div class="col-lg-3" id="thumbnailCol">
                    <a href="#" id="thumbnail">
                        <img src={%static 'p1.jpg'%}>
                    </a>
                </div>
                <div class="col-lg-3" id="thumbnailCol">
                    <a href="#" id="thumbnail">
                        <img src={%static 'p2.jpg'%}>
                    </a>
                </div>
                <div class="col-lg-3" id="thumbnailCol">
                    <a href="#" id="thumbnail">
                        <img src={%static 'p3.jpg'%}>
                    </a>
                </div>
                <div class="col-lg-3" id="thumbnailCol">
                    <a href="#" id="thumbnail">
                        <img src={%static 'p4.jpg'%}>
                    </a>
                </div>
                <div class="col-lg-3" id="thumbnailCol">
                    <a href="#" id="thumbnail">
                        <img src={%static 'p5.jpg'%}>
                    </a>
                </div>
                <div class="col-lg-3" id="thumbnailCol">
                    <a href="#" id="thumbnail">
                        <img src={%static 'p6.jpg'%}>
                    </a>
                </div>
           </div>


    
{% endblock %}